* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  body {
    background-color: rgb(83, 93, 107);
  }

  .title {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .headshot {
    width: 200px;
    height: 200px;
    margin: 15px auto;
    border: 5px solid black;
  }

  main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .main-header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    background: #1e00ff;
    color: #fff;
  }

  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  .aboutME {
    flex: 1 0 200px;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
  } 

  .myWork {
    flex: 1 0 200px;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
  } 

  .project-1{
    background-image: url("../images/project1.png");
    width: 300px;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  }
  .project-2{
    background-image: url("../images/headshot.png");
    width: 300px;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  }
  .project-3{
    background-image: url("../images/project3.png");
    width: 300px;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

 
  
  .contactMe {
    flex: 1 0 200px;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
  } 

  nav {
    display: flex;
    background-color: #ff6a00;
    text-align: right;
  }
  
  nav a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
  }

h1 {
    text-align: center;
}

.nav-bar{
    display:flex;
    justify-content: space-between;
}




  @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  
  #text-right {
    text-align: right;
  }